
.App {
  text-align: center;
  display: flex;

  flex-direction: column;

}
.todos{
  display: flex;
  justify-content: space-around;
}

.todo-portion{

  width: fit-content;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}
i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}

.todo-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .left{
      display: flex;
  }

  .todo-list-body{
    margin-top: 10px;
    border-radius: 10px;
  }
  .todo-list-body1{
    
    background:#2E8B57;
  }
  .todo-list-body2{
  
    background:#B8860B;
  }
  .todo-list-body3{
   
    background:#A52A2A;
  }